@CHARSET "ISO-8859-1";

input#searchBox {
    width: 400px;
}

.tag {
    font-size: 1em;
}

header {
    border-bottom: 1px solid darkblue;
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid darkblue;
}

header h1 small {
    text-transform: uppercase;
    font-size: 0.4em;
}



label#errMsg {
    color: red;
}

label#msg {
    color: green;
}
