div
{
    //border: 1px solid lightgray;
}


#footer-test {
    background-color: darkgray;
}

.page-header h1 {
    text-transform: uppercase;
}

.page-header h1:first-letter {
    font-size: 150%;
}

