@(products: List[Product])

@main("Products catalogue") {

<div class="row">
 <div class="col-xs-12">
     @searchbox()
 </div>
</div>
<div class="row">
 <div class="col-xs-12">
     <table class="table table-hover tablesorter-bootstrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Rapid Prototyping</th>
                <th>Complexity</th>
                <th>Documentation</th>
                <th>Scalability</th>
                <th>Maintenance</th>
                <th>UX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Spring</strong></td>
                <td>2.5</td>
                <td>3.5</td>
                <td>4</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td><strong>GRAILS</strong></td>
                <td>5</td>
                <td>3</td>
                <td>5</td>
                <td>4</td>
                <td>4.5</td>
                <td>4</td>
            </tr>
            <tr>
                <td><strong>Play!</strong></td>
                <td>5</td>
                <td>2</td>
                <td>5</td>
                         <td>5</td>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td><strong>GWT</strong></td>
                <td>4</td>
                <td>4</td>
                <td>4.5</td>
                <td>4.5</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </tbody>
     </table>
 </div>
</div>
}
