@(products: List[Product]) 

@main("Products catalogue") {

<div class="row">
 <div class="col-xs-12">
     <form class="form" role="form">
         <div class="form-group">
             <label for="searchBox">What are you looking for? </label>
             <input type="text" id="searchBox" class="form-control" placeholder="e.g. Programming Language, Java, JVM Web Frameworks" />
         </div>
         <div class="form-group">
             <label>(Zoom in+ out- with labels)</label><br>
             <a class="label label-default tag">Java</a>
             <a class="label label-default tag">Web</a>
             <a class="label label-default tag">Framework</a>
         </div>
     </form>
 </div>
</div>
<div class="row">
 <div class="col-xs-12">
     <table class="table table-hover tablesorter-bootstrap">
        <thead>
            <tr>
                <th>#</th>
                <th>Rapid Prototyping</th>
                <th>Complexity</th>
                <th>Documentation</th>
                <th>Scalability</th>
                <th>Maintenance</th>
                <th>UX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Spring</strong></td>
                <td>2.5</td>
                <td>3.5</td>
                <td>4</td>
                <td>4</td>
                <td>3</td>
                <td>2</td>
            </tr>
            <tr>
                <td><strong>GRAILS</strong></td>
                <td>5</td>
                <td>3</td>
                <td>5</td>
                <td>4</td>
                <td>4.5</td>
                <td>4</td>
            </tr>
            <tr>
                <td><strong>Play!</strong></td>
                <td>5</td>
                <td>2</td>
                <td>5</td>
                         <td>5</td>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td><strong>GWT</strong></td>
                <td>4</td>
                <td>4</td>
                <td>4.5</td>
                <td>4.5</td>
                <td>4</td>
                <td>5</td>
            </tr>
        </tbody>
     </table>
 </div>
</div>
}
